<?xml version="1.0"?>

<Section Name="Display">
	<Int Name="ScreenHeight">768</Int>
	<Int Name="ScreenWidth">1024</Int>
	<Int Name="ColorDepth">16</Int>
	<String Name="Driver">OpenGL</String>
	<String Name="WindowTitle">Pulsar Test Program</String>
	<String Name="DefaultFont">BitstreamVeraSans20.xml</String>
</Section>
<Section Name="Console">
	<Int Name="ConsoleHeight">300</Int>
	<Int Name="ConsoleWidth">400</Int>
	<String Name="ConsoleTitle">Pulsar Test Prog</String>
	<Bool Name="ShowConsole">False</Bool>
</Section>
<Section Name="Input">
	<String Name="Exit">ESCAPE</String>
	<String Name="PlayerLeft1">A</String>
	<String Name="PlayerRight1">S</String>
	<String Name="PlayerLeft2">LEFT</String>
	<String Name="PlayerRight2">RIGHT</String>
</Section>
