<?xml version="1.0"?>

<Section Name="Display">
	<Int Name="ScreenHeight">768</Int>
	<Int Name="ScreenWidth">1024</Int>
	<Int Name="ColorDepth">16</Int>
	<String Name="Driver">OpenGL</String>
	<String Name="WindowTitle">Pulsar Test Program</String>
	<String Name="DefaultFont">BitstreamVeraSans20.xml</String>
</Section>
<Section Name="Console">
	<Int Name="ConsoleHeight">300</Int>
	<Int Name="ConsoleWidth">400</Int>
	<String Name="ConsoleTitle">Pulsar Test Prog</String>
	<Bool Name="ShowConsole">False</Bool>
</Section>
<Section Name="Input">
	<String Name="Exit">ESCAPE</String>
	
	<String Name="PlayerUp-1">W</String>
	<String Name="PlayerDown-1">S</String>
	<String Name="PlayerLeft-1">A</String>
	<String Name="PlayerRight-1">D</String>
	<String Name="PlayerJump-1">LSHIFT</String>
	<String Name="PlayerAction1-1">Q</String>
	<String Name="PlayerAction2-1">E</String>
	
	<String Name="PlayerUp-2">UP</String>
	<String Name="PlayerDown-2">DOWN</String>
	<String Name="PlayerLeft-2">LEFT</String>
	<String Name="PlayerRight-2">RIGHT</String>
	<String Name="PlayerJump-2">RSHIFT</String>
	<String Name="PlayerAction1-2">COMMA</String>
	<String Name="PlayerAction2-2">PERIOD</String>
	
	<String Name="PlayerUp-3">NUMPAD5</String>
	<String Name="PlayerDown-3">NUMPAD2</String>
	<String Name="PlayerLeft-3">NUMPAD1</String>
	<String Name="PlayerRight-3">NUMPAD3</String>
	<String Name="PlayerJump-3">NUMPAD0</String>
	<String Name="PlayerAction1-3">NUMPAD4</String>
	<String Name="PlayerAction2-3">NUMPAD6</String>
</Section>
