<?xml version="1.0"?>

<Section Name="Display">
	<Int Name="ScreenHeight">768</Int>
	<Int Name="ScreenWidth">1024</Int>
	<Int Name="ColorDepth">16</Int>
	<String Name="Driver">OpenGL</String>
	<Bool Name="StencilBuffer">True</Bool>
	<String Name="WindowTitle">Pulsar Test Program</String>
	<String Name="DefaultFont">BitstreamVeraSans20.xml</String>
</Section>
<Section Name="Console">
	<Int Name="ConsoleHeight">300</Int>
	<Int Name="ConsoleWidth">400</Int>
	<String Name="ConsoleTitle">Pulsar Test Prog</String>
	<Bool Name="ShowConsole">False</Bool>
</Section>
<Section Name="Input">
	<Bool Name="UseWiimotes">False</Bool>
	
	<String Name="Exit">ESCAPE</String>

	<Section Name="Player1">
		<String Name="Up">W</String>
		<String Name="Down">S</String>
		<String Name="Left">A</String>
		<String Name="Right">D</String>
		<String Name="Jump">LSHIFT</String>
		<String Name="Action1">Q</String>
		<String Name="Action2">E</String>
	</Section>
	
	<Section Name="Player2">
		<String Name="Up">UP</String>
		<String Name="Down">DOWN</String>
		<String Name="Left">LEFT</String>
		<String Name="Right">RIGHT</String>
		<String Name="Jump">RSHIFT</String>
		<String Name="Action1">COMMA</String>
		<String Name="Action2">PERIOD</String>
	</Section>

	<Section Name="Player3">
		<String Name="Up">NUMPAD5</String>
		<String Name="Down">NUMPAD2</String>
		<String Name="Left">NUMPAD1</String>
		<String Name="Right">NUMPAD3</String>
		<String Name="Jump">NUMPAD0</String>
		<String Name="Action1">NUMPAD4</String>
		<String Name="Action2">NUMPAD6</String>
	</Section>
</Section>
